asgiref==3.7.2
attrs==23.2.0
autobahn==23.6.2
Automat==22.10.0
black==24.2.0
certifi==2024.2.2
cffi==1.16.0
click==8.1.7
colorama==0.4.6
constantly==23.10.4
cryptography==42.0.4
daphne==4.1.0
Django==5.0.2
django-autoslug==1.9.9
django-dump-load-utf8==0.0.4
django-filter==24.2
django-modeltranslation==0.18.11
django-nine==0.2.7
django-timezone-field==6.1.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
drf-extra-fields==3.7.0
elastic-transport==8.13.0
elasticsearch-dsl==8.13.0
filetype==1.2.0
gunicorn==21.2.0
hyperlink==21.0.0
idna==3.6
incremental==22.10.0
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.12.1
pillow==10.2.0
platformdirs==4.2.0
psycopg2-binary==2.9.9
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
PyJWT==2.8.0
pyOpenSSL==24.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
service-identity==24.1.0
six==1.16.0
sqlparse==0.4.4
Twisted==23.10.0
txaio==23.1.1
typing_extensions==4.9.0
tzdata==2024.1
urllib3==2.2.1
zope.interface==6.2
