@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'primary';
    src: url('/collabra/fonts/primary.ttf');
}

/** {*/
/*    outline: 1px solid red;*/
/*}*/

@media (prefers-reduced-motion) {
    * {
        transition: none !important;
    }
}


@keyframes appear {
    from {
        opacity: 0.7;
        scale: 0.85;
        transform: translateY(100px) rotateX(25deg);
    }
    to {
        opacity: 1;
        scale: 1;
        transform: translateY(0) rotateY(0deg);
    }
}

.appear-on-scroll {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

.slide-enter {
    transform: translateX(100%);
    opacity: 0;
}
.slide-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
}
.slide-exit {
    transform: translateX(0%);
    opacity: 1;
}
.slide-exit-active {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
}